//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/c64.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
